@import "./colors.scss";
@import "./typography.scss";
@import "./views.scss";
@import "./utils.scss";

* {
  box-sizing: border-box;
  font-family: monospace;
}

html,
body {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  color: get-color("grey-7");
  background-color: get-color("grey-0");
}
