h1 {
  margin: 1.5rem 0;
  font-size: 3rem;
  font-weight: 400;
}
h2 {
  margin: 1rem 0;
  font-size: 2.5rem;
  font-weight: 400;
}
h3 {
  margin: 0.75rem 0;
  font-size: 2rem;
  font-weight: 400;
}
h4 {
  margin: 0.75rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}
h5 {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  font-weight: 600;
}
h6 {
  margin: 0.25rem 0;
  font-size: 1rem;
  font-weight: 600;
}
